@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3{

  font-family: 'Open Sans', sans-serif;
}

.Container1{
    margin: 0 auto;
    max-width: 700px;
}
header{
    background-color: rgb(197, 66, 143);
    padding: .75rem;
    
    margin: 0 auto;
    text-align: center;
   
}

.img{
    
   max-width: 170px;
   height: 200px;
   

}

h2{
    padding-top: 10px;
    

}

footer{
    background-color: rgb(197, 66, 143);
   text-align: center;
    margin: 0 auto;
    padding: 0.75rem;
  
  
}

#outputDiv{
 
    font-size: 14px;
}
